<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxy.heritage.sys.dao.EduBookGoodsMapper">
    <resultMap id="BaseResultMap" type="com.yxy.heritage.sys.bean.EduBookGoods">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cat_id" jdbcType="INTEGER" property="catId"/>
        <result column="extend_cat_id" jdbcType="INTEGER" property="extendCatId"/>
        <result column="books_sn" jdbcType="VARCHAR" property="booksSn"/>
        <result column="books_author" jdbcType="VARCHAR" property="booksAuthor"/>
        <result column="books_name" jdbcType="VARCHAR" property="booksName"/>
        <result column="click_count" jdbcType="INTEGER" property="clickCount"/>
        <result column="store_count" jdbcType="SMALLINT" property="storeCount"/>
        <result column="comment_count" jdbcType="SMALLINT" property="commentCount"/>
        <result column="weight" jdbcType="INTEGER" property="weight"/>
        <result column="market_price" jdbcType="DECIMAL" property="marketPrice"/>
        <result column="shop_price" jdbcType="DECIMAL" property="shopPrice"/>
        <result column="cost_price" jdbcType="DECIMAL" property="costPrice"/>
        <result column="keywords" jdbcType="VARCHAR" property="keywords"/>
        <result column="books_remark" jdbcType="VARCHAR" property="booksRemark"/>
        <result column="original_img" jdbcType="VARCHAR" property="originalImg"/>
        <result column="is_real" jdbcType="TINYINT" property="isReal"/>
        <result column="is_on_sale" jdbcType="TINYINT" property="isOnSale"/>
        <result column="is_free_shipping" jdbcType="TINYINT" property="isFreeShipping"/>
        <result column="on_time" jdbcType="INTEGER" property="onTime"/>
        <result column="sort" jdbcType="SMALLINT" property="sort"/>
        <result column="is_recommend" jdbcType="TINYINT" property="isRecommend"/>
        <result column="is_new" jdbcType="TINYINT" property="isNew"/>
        <result column="is_hot" jdbcType="TINYINT" property="isHot"/>
        <result column="last_update" jdbcType="INTEGER" property="lastUpdate"/>
        <result column="goods_type" jdbcType="SMALLINT" property="goodsType"/>
        <result column="spec_type" jdbcType="SMALLINT" property="specType"/>
        <result column="give_integral" jdbcType="INTEGER" property="giveIntegral"/>
        <result column="exchange_integral" jdbcType="INTEGER" property="exchangeIntegral"/>
        <result column="suppliers_id" jdbcType="SMALLINT" property="suppliersId"/>
        <result column="sales_sum" jdbcType="INTEGER" property="salesSum"/>
        <result column="prom_type" jdbcType="TINYINT" property="promType"/>
        <result column="prom_id" jdbcType="INTEGER" property="promId"/>
        <result column="commission" jdbcType="DECIMAL" property="commission"/>
        <result column="spu" jdbcType="VARCHAR" property="spu"/>
        <result column="sku" jdbcType="VARCHAR" property="sku"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="school_id" jdbcType="VARCHAR" property="schoolId"/>
        <result column="send_price" jdbcType="DECIMAL" property="sendPrice"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yxy.heritage.sys.bean.EduBookGoods">
        <result column="books_content" jdbcType="LONGVARCHAR" property="booksContent"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, cat_id, extend_cat_id, books_sn, books_author, books_name, click_count, store_count,
    comment_count, weight, market_price, shop_price, cost_price, keywords, books_remark,
    original_img, is_real, is_on_sale, is_free_shipping, on_time, sort, is_recommend,
    is_new, is_hot, last_update, goods_type, spec_type, give_integral, exchange_integral,
    suppliers_id, sales_sum, prom_type, prom_id, commission, spu, sku, update_time, school_id,
    send_price, school_name
  </sql>
    <sql id="Blob_Column_List">
    books_content
  </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.yxy.heritage.sys.bean.EduBookGoodsExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from edu_book_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.yxy.heritage.sys.bean.EduBookGoodsExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from edu_book_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from edu_book_goods
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_book_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.yxy.heritage.sys.bean.EduBookGoodsExample">
        delete from edu_book_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.yxy.heritage.sys.bean.EduBookGoods">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into edu_book_goods (cat_id, extend_cat_id, books_sn,
        books_author, books_name, click_count,
        store_count, comment_count, weight,
        market_price, shop_price, cost_price,
        keywords, books_remark, original_img,
        is_real, is_on_sale, is_free_shipping,
        on_time, sort, is_recommend,
        is_new, is_hot, last_update,
        goods_type, spec_type, give_integral,
        exchange_integral, suppliers_id, sales_sum,
        prom_type, prom_id, commission,
        spu, sku, update_time,
        school_id, send_price, school_name,
        books_content)
        values (#{catId,jdbcType=INTEGER}, #{extendCatId,jdbcType=INTEGER}, #{booksSn,jdbcType=VARCHAR},
        #{booksAuthor,jdbcType=VARCHAR}, #{booksName,jdbcType=VARCHAR}, #{clickCount,jdbcType=INTEGER},
        #{storeCount,jdbcType=SMALLINT}, #{commentCount,jdbcType=SMALLINT}, #{weight,jdbcType=INTEGER},
        #{marketPrice,jdbcType=DECIMAL}, #{shopPrice,jdbcType=DECIMAL}, #{costPrice,jdbcType=DECIMAL},
        #{keywords,jdbcType=VARCHAR}, #{booksRemark,jdbcType=VARCHAR}, #{originalImg,jdbcType=VARCHAR},
        #{isReal,jdbcType=TINYINT}, #{isOnSale,jdbcType=TINYINT}, #{isFreeShipping,jdbcType=TINYINT},
        #{onTime,jdbcType=INTEGER}, #{sort,jdbcType=SMALLINT}, #{isRecommend,jdbcType=TINYINT},
        #{isNew,jdbcType=TINYINT}, #{isHot,jdbcType=TINYINT}, #{lastUpdate,jdbcType=INTEGER},
        #{goodsType,jdbcType=SMALLINT}, #{specType,jdbcType=SMALLINT}, #{giveIntegral,jdbcType=INTEGER},
        #{exchangeIntegral,jdbcType=INTEGER}, #{suppliersId,jdbcType=SMALLINT}, #{salesSum,jdbcType=INTEGER},
        #{promType,jdbcType=TINYINT}, #{promId,jdbcType=INTEGER}, #{commission,jdbcType=DECIMAL},
        #{spu,jdbcType=VARCHAR}, #{sku,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
        #{schoolId,jdbcType=VARCHAR}, #{sendPrice,jdbcType=DECIMAL}, #{schoolName,jdbcType=VARCHAR},
        #{booksContent,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.yxy.heritage.sys.bean.EduBookGoods">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into edu_book_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="catId != null">
                cat_id,
            </if>
            <if test="extendCatId != null">
                extend_cat_id,
            </if>
            <if test="booksSn != null">
                books_sn,
            </if>
            <if test="booksAuthor != null">
                books_author,
            </if>
            <if test="booksName != null">
                books_name,
            </if>
            <if test="clickCount != null">
                click_count,
            </if>
            <if test="storeCount != null">
                store_count,
            </if>
            <if test="commentCount != null">
                comment_count,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="marketPrice != null">
                market_price,
            </if>
            <if test="shopPrice != null">
                shop_price,
            </if>
            <if test="costPrice != null">
                cost_price,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="booksRemark != null">
                books_remark,
            </if>
            <if test="originalImg != null">
                original_img,
            </if>
            <if test="isReal != null">
                is_real,
            </if>
            <if test="isOnSale != null">
                is_on_sale,
            </if>
            <if test="isFreeShipping != null">
                is_free_shipping,
            </if>
            <if test="onTime != null">
                on_time,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isRecommend != null">
                is_recommend,
            </if>
            <if test="isNew != null">
                is_new,
            </if>
            <if test="isHot != null">
                is_hot,
            </if>
            <if test="lastUpdate != null">
                last_update,
            </if>
            <if test="goodsType != null">
                goods_type,
            </if>
            <if test="specType != null">
                spec_type,
            </if>
            <if test="giveIntegral != null">
                give_integral,
            </if>
            <if test="exchangeIntegral != null">
                exchange_integral,
            </if>
            <if test="suppliersId != null">
                suppliers_id,
            </if>
            <if test="salesSum != null">
                sales_sum,
            </if>
            <if test="promType != null">
                prom_type,
            </if>
            <if test="promId != null">
                prom_id,
            </if>
            <if test="commission != null">
                commission,
            </if>
            <if test="spu != null">
                spu,
            </if>
            <if test="sku != null">
                sku,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
            <if test="sendPrice != null">
                send_price,
            </if>
            <if test="schoolName != null">
                school_name,
            </if>
            <if test="booksContent != null">
                books_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="catId != null">
                #{catId,jdbcType=INTEGER},
            </if>
            <if test="extendCatId != null">
                #{extendCatId,jdbcType=INTEGER},
            </if>
            <if test="booksSn != null">
                #{booksSn,jdbcType=VARCHAR},
            </if>
            <if test="booksAuthor != null">
                #{booksAuthor,jdbcType=VARCHAR},
            </if>
            <if test="booksName != null">
                #{booksName,jdbcType=VARCHAR},
            </if>
            <if test="clickCount != null">
                #{clickCount,jdbcType=INTEGER},
            </if>
            <if test="storeCount != null">
                #{storeCount,jdbcType=SMALLINT},
            </if>
            <if test="commentCount != null">
                #{commentCount,jdbcType=SMALLINT},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=INTEGER},
            </if>
            <if test="marketPrice != null">
                #{marketPrice,jdbcType=DECIMAL},
            </if>
            <if test="shopPrice != null">
                #{shopPrice,jdbcType=DECIMAL},
            </if>
            <if test="costPrice != null">
                #{costPrice,jdbcType=DECIMAL},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="booksRemark != null">
                #{booksRemark,jdbcType=VARCHAR},
            </if>
            <if test="originalImg != null">
                #{originalImg,jdbcType=VARCHAR},
            </if>
            <if test="isReal != null">
                #{isReal,jdbcType=TINYINT},
            </if>
            <if test="isOnSale != null">
                #{isOnSale,jdbcType=TINYINT},
            </if>
            <if test="isFreeShipping != null">
                #{isFreeShipping,jdbcType=TINYINT},
            </if>
            <if test="onTime != null">
                #{onTime,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=SMALLINT},
            </if>
            <if test="isRecommend != null">
                #{isRecommend,jdbcType=TINYINT},
            </if>
            <if test="isNew != null">
                #{isNew,jdbcType=TINYINT},
            </if>
            <if test="isHot != null">
                #{isHot,jdbcType=TINYINT},
            </if>
            <if test="lastUpdate != null">
                #{lastUpdate,jdbcType=INTEGER},
            </if>
            <if test="goodsType != null">
                #{goodsType,jdbcType=SMALLINT},
            </if>
            <if test="specType != null">
                #{specType,jdbcType=SMALLINT},
            </if>
            <if test="giveIntegral != null">
                #{giveIntegral,jdbcType=INTEGER},
            </if>
            <if test="exchangeIntegral != null">
                #{exchangeIntegral,jdbcType=INTEGER},
            </if>
            <if test="suppliersId != null">
                #{suppliersId,jdbcType=SMALLINT},
            </if>
            <if test="salesSum != null">
                #{salesSum,jdbcType=INTEGER},
            </if>
            <if test="promType != null">
                #{promType,jdbcType=TINYINT},
            </if>
            <if test="promId != null">
                #{promId,jdbcType=INTEGER},
            </if>
            <if test="commission != null">
                #{commission,jdbcType=DECIMAL},
            </if>
            <if test="spu != null">
                #{spu,jdbcType=VARCHAR},
            </if>
            <if test="sku != null">
                #{sku,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="schoolId != null">
                #{schoolId,jdbcType=VARCHAR},
            </if>
            <if test="sendPrice != null">
                #{sendPrice,jdbcType=DECIMAL},
            </if>
            <if test="schoolName != null">
                #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="booksContent != null">
                #{booksContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.yxy.heritage.sys.bean.EduBookGoodsExample"
            resultType="java.lang.Long">
        select count(*) from edu_book_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update edu_book_goods
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.catId != null">
                cat_id = #{record.catId,jdbcType=INTEGER},
            </if>
            <if test="record.extendCatId != null">
                extend_cat_id = #{record.extendCatId,jdbcType=INTEGER},
            </if>
            <if test="record.booksSn != null">
                books_sn = #{record.booksSn,jdbcType=VARCHAR},
            </if>
            <if test="record.booksAuthor != null">
                books_author = #{record.booksAuthor,jdbcType=VARCHAR},
            </if>
            <if test="record.booksName != null">
                books_name = #{record.booksName,jdbcType=VARCHAR},
            </if>
            <if test="record.clickCount != null">
                click_count = #{record.clickCount,jdbcType=INTEGER},
            </if>
            <if test="record.storeCount != null">
                store_count = #{record.storeCount,jdbcType=SMALLINT},
            </if>
            <if test="record.commentCount != null">
                comment_count = #{record.commentCount,jdbcType=SMALLINT},
            </if>
            <if test="record.weight != null">
                weight = #{record.weight,jdbcType=INTEGER},
            </if>
            <if test="record.marketPrice != null">
                market_price = #{record.marketPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.shopPrice != null">
                shop_price = #{record.shopPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.costPrice != null">
                cost_price = #{record.costPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.keywords != null">
                keywords = #{record.keywords,jdbcType=VARCHAR},
            </if>
            <if test="record.booksRemark != null">
                books_remark = #{record.booksRemark,jdbcType=VARCHAR},
            </if>
            <if test="record.originalImg != null">
                original_img = #{record.originalImg,jdbcType=VARCHAR},
            </if>
            <if test="record.isReal != null">
                is_real = #{record.isReal,jdbcType=TINYINT},
            </if>
            <if test="record.isOnSale != null">
                is_on_sale = #{record.isOnSale,jdbcType=TINYINT},
            </if>
            <if test="record.isFreeShipping != null">
                is_free_shipping = #{record.isFreeShipping,jdbcType=TINYINT},
            </if>
            <if test="record.onTime != null">
                on_time = #{record.onTime,jdbcType=INTEGER},
            </if>
            <if test="record.sort != null">
                sort = #{record.sort,jdbcType=SMALLINT},
            </if>
            <if test="record.isRecommend != null">
                is_recommend = #{record.isRecommend,jdbcType=TINYINT},
            </if>
            <if test="record.isNew != null">
                is_new = #{record.isNew,jdbcType=TINYINT},
            </if>
            <if test="record.isHot != null">
                is_hot = #{record.isHot,jdbcType=TINYINT},
            </if>
            <if test="record.lastUpdate != null">
                last_update = #{record.lastUpdate,jdbcType=INTEGER},
            </if>
            <if test="record.goodsType != null">
                goods_type = #{record.goodsType,jdbcType=SMALLINT},
            </if>
            <if test="record.specType != null">
                spec_type = #{record.specType,jdbcType=SMALLINT},
            </if>
            <if test="record.giveIntegral != null">
                give_integral = #{record.giveIntegral,jdbcType=INTEGER},
            </if>
            <if test="record.exchangeIntegral != null">
                exchange_integral = #{record.exchangeIntegral,jdbcType=INTEGER},
            </if>
            <if test="record.suppliersId != null">
                suppliers_id = #{record.suppliersId,jdbcType=SMALLINT},
            </if>
            <if test="record.salesSum != null">
                sales_sum = #{record.salesSum,jdbcType=INTEGER},
            </if>
            <if test="record.promType != null">
                prom_type = #{record.promType,jdbcType=TINYINT},
            </if>
            <if test="record.promId != null">
                prom_id = #{record.promId,jdbcType=INTEGER},
            </if>
            <if test="record.commission != null">
                commission = #{record.commission,jdbcType=DECIMAL},
            </if>
            <if test="record.spu != null">
                spu = #{record.spu,jdbcType=VARCHAR},
            </if>
            <if test="record.sku != null">
                sku = #{record.sku,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.schoolId != null">
                school_id = #{record.schoolId,jdbcType=VARCHAR},
            </if>
            <if test="record.sendPrice != null">
                send_price = #{record.sendPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.schoolName != null">
                school_name = #{record.schoolName,jdbcType=VARCHAR},
            </if>
            <if test="record.booksContent != null">
                books_content = #{record.booksContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update edu_book_goods
        set id = #{record.id,jdbcType=INTEGER},
        cat_id = #{record.catId,jdbcType=INTEGER},
        extend_cat_id = #{record.extendCatId,jdbcType=INTEGER},
        books_sn = #{record.booksSn,jdbcType=VARCHAR},
        books_author = #{record.booksAuthor,jdbcType=VARCHAR},
        books_name = #{record.booksName,jdbcType=VARCHAR},
        click_count = #{record.clickCount,jdbcType=INTEGER},
        store_count = #{record.storeCount,jdbcType=SMALLINT},
        comment_count = #{record.commentCount,jdbcType=SMALLINT},
        weight = #{record.weight,jdbcType=INTEGER},
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
        shop_price = #{record.shopPrice,jdbcType=DECIMAL},
        cost_price = #{record.costPrice,jdbcType=DECIMAL},
        keywords = #{record.keywords,jdbcType=VARCHAR},
        books_remark = #{record.booksRemark,jdbcType=VARCHAR},
        original_img = #{record.originalImg,jdbcType=VARCHAR},
        is_real = #{record.isReal,jdbcType=TINYINT},
        is_on_sale = #{record.isOnSale,jdbcType=TINYINT},
        is_free_shipping = #{record.isFreeShipping,jdbcType=TINYINT},
        on_time = #{record.onTime,jdbcType=INTEGER},
        sort = #{record.sort,jdbcType=SMALLINT},
        is_recommend = #{record.isRecommend,jdbcType=TINYINT},
        is_new = #{record.isNew,jdbcType=TINYINT},
        is_hot = #{record.isHot,jdbcType=TINYINT},
        last_update = #{record.lastUpdate,jdbcType=INTEGER},
        goods_type = #{record.goodsType,jdbcType=SMALLINT},
        spec_type = #{record.specType,jdbcType=SMALLINT},
        give_integral = #{record.giveIntegral,jdbcType=INTEGER},
        exchange_integral = #{record.exchangeIntegral,jdbcType=INTEGER},
        suppliers_id = #{record.suppliersId,jdbcType=SMALLINT},
        sales_sum = #{record.salesSum,jdbcType=INTEGER},
        prom_type = #{record.promType,jdbcType=TINYINT},
        prom_id = #{record.promId,jdbcType=INTEGER},
        commission = #{record.commission,jdbcType=DECIMAL},
        spu = #{record.spu,jdbcType=VARCHAR},
        sku = #{record.sku,jdbcType=VARCHAR},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        school_id = #{record.schoolId,jdbcType=VARCHAR},
        send_price = #{record.sendPrice,jdbcType=DECIMAL},
        school_name = #{record.schoolName,jdbcType=VARCHAR},
        books_content = #{record.booksContent,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update edu_book_goods
        set id = #{record.id,jdbcType=INTEGER},
        cat_id = #{record.catId,jdbcType=INTEGER},
        extend_cat_id = #{record.extendCatId,jdbcType=INTEGER},
        books_sn = #{record.booksSn,jdbcType=VARCHAR},
        books_author = #{record.booksAuthor,jdbcType=VARCHAR},
        books_name = #{record.booksName,jdbcType=VARCHAR},
        click_count = #{record.clickCount,jdbcType=INTEGER},
        store_count = #{record.storeCount,jdbcType=SMALLINT},
        comment_count = #{record.commentCount,jdbcType=SMALLINT},
        weight = #{record.weight,jdbcType=INTEGER},
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
        shop_price = #{record.shopPrice,jdbcType=DECIMAL},
        cost_price = #{record.costPrice,jdbcType=DECIMAL},
        keywords = #{record.keywords,jdbcType=VARCHAR},
        books_remark = #{record.booksRemark,jdbcType=VARCHAR},
        original_img = #{record.originalImg,jdbcType=VARCHAR},
        is_real = #{record.isReal,jdbcType=TINYINT},
        is_on_sale = #{record.isOnSale,jdbcType=TINYINT},
        is_free_shipping = #{record.isFreeShipping,jdbcType=TINYINT},
        on_time = #{record.onTime,jdbcType=INTEGER},
        sort = #{record.sort,jdbcType=SMALLINT},
        is_recommend = #{record.isRecommend,jdbcType=TINYINT},
        is_new = #{record.isNew,jdbcType=TINYINT},
        is_hot = #{record.isHot,jdbcType=TINYINT},
        last_update = #{record.lastUpdate,jdbcType=INTEGER},
        goods_type = #{record.goodsType,jdbcType=SMALLINT},
        spec_type = #{record.specType,jdbcType=SMALLINT},
        give_integral = #{record.giveIntegral,jdbcType=INTEGER},
        exchange_integral = #{record.exchangeIntegral,jdbcType=INTEGER},
        suppliers_id = #{record.suppliersId,jdbcType=SMALLINT},
        sales_sum = #{record.salesSum,jdbcType=INTEGER},
        prom_type = #{record.promType,jdbcType=TINYINT},
        prom_id = #{record.promId,jdbcType=INTEGER},
        commission = #{record.commission,jdbcType=DECIMAL},
        spu = #{record.spu,jdbcType=VARCHAR},
        sku = #{record.sku,jdbcType=VARCHAR},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        school_id = #{record.schoolId,jdbcType=VARCHAR},
        send_price = #{record.sendPrice,jdbcType=DECIMAL},
        school_name = #{record.schoolName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.yxy.heritage.sys.bean.EduBookGoods">
        update edu_book_goods
        <set>
            <if test="catId != null">
                cat_id = #{catId,jdbcType=INTEGER},
            </if>
            <if test="extendCatId != null">
                extend_cat_id = #{extendCatId,jdbcType=INTEGER},
            </if>
            <if test="booksSn != null">
                books_sn = #{booksSn,jdbcType=VARCHAR},
            </if>
            <if test="booksAuthor != null">
                books_author = #{booksAuthor,jdbcType=VARCHAR},
            </if>
            <if test="booksName != null">
                books_name = #{booksName,jdbcType=VARCHAR},
            </if>
            <if test="clickCount != null">
                click_count = #{clickCount,jdbcType=INTEGER},
            </if>
            <if test="storeCount != null">
                store_count = #{storeCount,jdbcType=SMALLINT},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=SMALLINT},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=INTEGER},
            </if>
            <if test="marketPrice != null">
                market_price = #{marketPrice,jdbcType=DECIMAL},
            </if>
            <if test="shopPrice != null">
                shop_price = #{shopPrice,jdbcType=DECIMAL},
            </if>
            <if test="costPrice != null">
                cost_price = #{costPrice,jdbcType=DECIMAL},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="booksRemark != null">
                books_remark = #{booksRemark,jdbcType=VARCHAR},
            </if>
            <if test="originalImg != null">
                original_img = #{originalImg,jdbcType=VARCHAR},
            </if>
            <if test="isReal != null">
                is_real = #{isReal,jdbcType=TINYINT},
            </if>
            <if test="isOnSale != null">
                is_on_sale = #{isOnSale,jdbcType=TINYINT},
            </if>
            <if test="isFreeShipping != null">
                is_free_shipping = #{isFreeShipping,jdbcType=TINYINT},
            </if>
            <if test="onTime != null">
                on_time = #{onTime,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=SMALLINT},
            </if>
            <if test="isRecommend != null">
                is_recommend = #{isRecommend,jdbcType=TINYINT},
            </if>
            <if test="isNew != null">
                is_new = #{isNew,jdbcType=TINYINT},
            </if>
            <if test="isHot != null">
                is_hot = #{isHot,jdbcType=TINYINT},
            </if>
            <if test="lastUpdate != null">
                last_update = #{lastUpdate,jdbcType=INTEGER},
            </if>
            <if test="goodsType != null">
                goods_type = #{goodsType,jdbcType=SMALLINT},
            </if>
            <if test="specType != null">
                spec_type = #{specType,jdbcType=SMALLINT},
            </if>
            <if test="giveIntegral != null">
                give_integral = #{giveIntegral,jdbcType=INTEGER},
            </if>
            <if test="exchangeIntegral != null">
                exchange_integral = #{exchangeIntegral,jdbcType=INTEGER},
            </if>
            <if test="suppliersId != null">
                suppliers_id = #{suppliersId,jdbcType=SMALLINT},
            </if>
            <if test="salesSum != null">
                sales_sum = #{salesSum,jdbcType=INTEGER},
            </if>
            <if test="promType != null">
                prom_type = #{promType,jdbcType=TINYINT},
            </if>
            <if test="promId != null">
                prom_id = #{promId,jdbcType=INTEGER},
            </if>
            <if test="commission != null">
                commission = #{commission,jdbcType=DECIMAL},
            </if>
            <if test="spu != null">
                spu = #{spu,jdbcType=VARCHAR},
            </if>
            <if test="sku != null">
                sku = #{sku,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=VARCHAR},
            </if>
            <if test="sendPrice != null">
                send_price = #{sendPrice,jdbcType=DECIMAL},
            </if>
            <if test="schoolName != null">
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="booksContent != null">
                books_content = #{booksContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yxy.heritage.sys.bean.EduBookGoods">
    update edu_book_goods
    set cat_id = #{catId,jdbcType=INTEGER},
      extend_cat_id = #{extendCatId,jdbcType=INTEGER},
      books_sn = #{booksSn,jdbcType=VARCHAR},
      books_author = #{booksAuthor,jdbcType=VARCHAR},
      books_name = #{booksName,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      store_count = #{storeCount,jdbcType=SMALLINT},
      comment_count = #{commentCount,jdbcType=SMALLINT},
      weight = #{weight,jdbcType=INTEGER},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      shop_price = #{shopPrice,jdbcType=DECIMAL},
      cost_price = #{costPrice,jdbcType=DECIMAL},
      keywords = #{keywords,jdbcType=VARCHAR},
      books_remark = #{booksRemark,jdbcType=VARCHAR},
      original_img = #{originalImg,jdbcType=VARCHAR},
      is_real = #{isReal,jdbcType=TINYINT},
      is_on_sale = #{isOnSale,jdbcType=TINYINT},
      is_free_shipping = #{isFreeShipping,jdbcType=TINYINT},
      on_time = #{onTime,jdbcType=INTEGER},
      sort = #{sort,jdbcType=SMALLINT},
      is_recommend = #{isRecommend,jdbcType=TINYINT},
      is_new = #{isNew,jdbcType=TINYINT},
      is_hot = #{isHot,jdbcType=TINYINT},
      last_update = #{lastUpdate,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=SMALLINT},
      spec_type = #{specType,jdbcType=SMALLINT},
      give_integral = #{giveIntegral,jdbcType=INTEGER},
      exchange_integral = #{exchangeIntegral,jdbcType=INTEGER},
      suppliers_id = #{suppliersId,jdbcType=SMALLINT},
      sales_sum = #{salesSum,jdbcType=INTEGER},
      prom_type = #{promType,jdbcType=TINYINT},
      prom_id = #{promId,jdbcType=INTEGER},
      commission = #{commission,jdbcType=DECIMAL},
      spu = #{spu,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      school_id = #{schoolId,jdbcType=VARCHAR},
      send_price = #{sendPrice,jdbcType=DECIMAL},
      school_name = #{schoolName,jdbcType=VARCHAR},
      books_content = #{booksContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.yxy.heritage.sys.bean.EduBookGoods">
    update edu_book_goods
    set cat_id = #{catId,jdbcType=INTEGER},
      extend_cat_id = #{extendCatId,jdbcType=INTEGER},
      books_sn = #{booksSn,jdbcType=VARCHAR},
      books_author = #{booksAuthor,jdbcType=VARCHAR},
      books_name = #{booksName,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      store_count = #{storeCount,jdbcType=SMALLINT},
      comment_count = #{commentCount,jdbcType=SMALLINT},
      weight = #{weight,jdbcType=INTEGER},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      shop_price = #{shopPrice,jdbcType=DECIMAL},
      cost_price = #{costPrice,jdbcType=DECIMAL},
      keywords = #{keywords,jdbcType=VARCHAR},
      books_remark = #{booksRemark,jdbcType=VARCHAR},
      original_img = #{originalImg,jdbcType=VARCHAR},
      is_real = #{isReal,jdbcType=TINYINT},
      is_on_sale = #{isOnSale,jdbcType=TINYINT},
      is_free_shipping = #{isFreeShipping,jdbcType=TINYINT},
      on_time = #{onTime,jdbcType=INTEGER},
      sort = #{sort,jdbcType=SMALLINT},
      is_recommend = #{isRecommend,jdbcType=TINYINT},
      is_new = #{isNew,jdbcType=TINYINT},
      is_hot = #{isHot,jdbcType=TINYINT},
      last_update = #{lastUpdate,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=SMALLINT},
      spec_type = #{specType,jdbcType=SMALLINT},
      give_integral = #{giveIntegral,jdbcType=INTEGER},
      exchange_integral = #{exchangeIntegral,jdbcType=INTEGER},
      suppliers_id = #{suppliersId,jdbcType=SMALLINT},
      sales_sum = #{salesSum,jdbcType=INTEGER},
      prom_type = #{promType,jdbcType=TINYINT},
      prom_id = #{promId,jdbcType=INTEGER},
      commission = #{commission,jdbcType=DECIMAL},
      spu = #{spu,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      school_id = #{schoolId,jdbcType=VARCHAR},
      send_price = #{sendPrice,jdbcType=DECIMAL},
      school_name = #{schoolName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!--1.查询所有教材相关信息-->
    <select id="queryAllBooksGoods" parameterType="map"
            resultType="com.yxy.heritage.sys.bean.EduBookGoods">
        select
        *
        from edu_book_goods
        <where>
            <if test="catId != null and catId!=''">
                and cat_id = #{catId}
            </if>
            <if test="extendCatId != null and catId!=''">
                and extend_cat_id = #{extendCatId}
            </if>
        </where>
    </select>


    <!--2.查询搜索所有教材相关信息-->
    <select id="queryAllBookesForlike" parameterType="map"
            resultType="com.yxy.heritage.sys.bean.EduBookGoods">
    select
    *
    from edu_book_goods where books_author like '%${searchkey}%' or books_name like '%
    ${searchkey}%'
  </select>

    <!--1.查找教材列表-->
    <select id="queryForPage" parameterType="map"
            resultType="com.yxy.heritage.sys.bean.EduBookGoods">
        select
        *
        from edu_book_goods
        <where>
            <if test="booksAuthor != null and booksAuthor!=''">
                and books_author LIKE '%${booksAuthor}%'
            </if>
            <if test="booksSn != null and booksSn!=''">
                and books_sn = #{booksSn}
            </if>
            <if test="isOnSale != null and isOnSale!=''">
                and is_on_sale = #{isOnSale}
            </if>
            <if test="schoolId != null and schoolId!=''">
                and school_id = #{schoolId}
            </if>
        </where>
    </select>

    <!--根据学校查询学校名字vvtxw-->
    <select id="selectNameBySchoolId" parameterType="int"
            resultType="String">
        select
        s.school_name
        from
        edu_book_goods r
        LEFT JOIN edu_school s on s.school_id=r.school_id where r.school_id=#{school_id}
  </select>


</mapper>