<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxy.heritage.sys.dao.OrderDetailMapper">
    <resultMap id="BaseResultMap" type="com.yxy.heritage.sys.bean.OrderDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="course_id" jdbcType="BIGINT" property="courseId"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="order_price" jdbcType="DECIMAL" property="orderPrice"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="book_author" jdbcType="VARCHAR" property="bookAuthor"/>
        <result column="school_Id" jdbcType="INTEGER" property="schoolId"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, order_id, course_id, course_name, img_url, order_price, num, book_author, school_Id, 
    school_name
  </sql>
    <select id="selectByExample" parameterType="com.yxy.heritage.sys.bean.OrderDetailExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from edu_order_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edu_order_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from edu_order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.yxy.heritage.sys.bean.OrderDetailExample">
        delete from edu_order_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.yxy.heritage.sys.bean.OrderDetail">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into edu_order_detail (order_id, course_id, course_name,
        img_url, order_price, num,
        book_author, school_Id, school_name
        )
        values (#{orderId,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, #{courseName,jdbcType=VARCHAR},
        #{imgUrl,jdbcType=VARCHAR}, #{orderPrice,jdbcType=DECIMAL}, #{num,jdbcType=INTEGER},
        #{bookAuthor,jdbcType=VARCHAR}, #{schoolId,jdbcType=INTEGER}, #{schoolName,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.yxy.heritage.sys.bean.OrderDetail">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into edu_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="courseName != null">
                course_name,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="orderPrice != null">
                order_price,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="bookAuthor != null">
                book_author,
            </if>
            <if test="schoolId != null">
                school_Id,
            </if>
            <if test="schoolName != null">
                school_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=BIGINT},
            </if>
            <if test="courseName != null">
                #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="orderPrice != null">
                #{orderPrice,jdbcType=DECIMAL},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="bookAuthor != null">
                #{bookAuthor,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="schoolName != null">
                #{schoolName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.yxy.heritage.sys.bean.OrderDetailExample"
            resultType="java.lang.Long">
        select count(*) from edu_order_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update edu_order_detail
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.orderId != null">
                order_id = #{record.orderId,jdbcType=BIGINT},
            </if>
            <if test="record.courseId != null">
                course_id = #{record.courseId,jdbcType=BIGINT},
            </if>
            <if test="record.courseName != null">
                course_name = #{record.courseName,jdbcType=VARCHAR},
            </if>
            <if test="record.imgUrl != null">
                img_url = #{record.imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.orderPrice != null">
                order_price = #{record.orderPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.num != null">
                num = #{record.num,jdbcType=INTEGER},
            </if>
            <if test="record.bookAuthor != null">
                book_author = #{record.bookAuthor,jdbcType=VARCHAR},
            </if>
            <if test="record.schoolId != null">
                school_Id = #{record.schoolId,jdbcType=INTEGER},
            </if>
            <if test="record.schoolName != null">
                school_name = #{record.schoolName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update edu_order_detail
        set id = #{record.id,jdbcType=BIGINT},
        order_id = #{record.orderId,jdbcType=BIGINT},
        course_id = #{record.courseId,jdbcType=BIGINT},
        course_name = #{record.courseName,jdbcType=VARCHAR},
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
        order_price = #{record.orderPrice,jdbcType=DECIMAL},
        num = #{record.num,jdbcType=INTEGER},
        book_author = #{record.bookAuthor,jdbcType=VARCHAR},
        school_Id = #{record.schoolId,jdbcType=INTEGER},
        school_name = #{record.schoolName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.yxy.heritage.sys.bean.OrderDetail">
        update edu_order_detail
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=BIGINT},
            </if>
            <if test="courseName != null">
                course_name = #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="orderPrice != null">
                order_price = #{orderPrice,jdbcType=DECIMAL},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="bookAuthor != null">
                book_author = #{bookAuthor,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                school_Id = #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="schoolName != null">
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yxy.heritage.sys.bean.OrderDetail">
    update edu_order_detail
    set order_id = #{orderId,jdbcType=BIGINT},
      course_id = #{courseId,jdbcType=BIGINT},
      course_name = #{courseName,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      order_price = #{orderPrice,jdbcType=DECIMAL},
      num = #{num,jdbcType=INTEGER},
      book_author = #{bookAuthor,jdbcType=VARCHAR},
      school_Id = #{schoolId,jdbcType=INTEGER},
      school_name = #{schoolName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!--查询订单相关信息vvtxw-->
    <select id="selectByOrderId" parameterType="Integer"
            resultType="com.yxy.heritage.sys.bean.OrderDetail">
    SELECT * from edu_order_detail where order_id = #{orderId}
  </select>

    <!--查询订单相关信息vvtxw-->
    <select id="selectById" parameterType="Integer"
            resultType="com.yxy.heritage.sys.vo.OrderDetailVo">
    SELECT * from edu_order_detail where order_id = #{orderId}
  </select>


</mapper>